In [1]:
''' 
Comment 
'''

' \nComment \n'

In [2]:
a,b,c=10,20,'test'

In [3]:
c

'test'

## Data Types

In [4]:
a=10
type(a)

int

In [5]:
b=10.5
type(b)

float

In [6]:
c=False
type(c)

bool

In [7]:
d=[1,2,3,4]
type(d)

list

In [8]:
e=[1,2,3,'abhi']
type(e)

list

In [9]:
f=10+5j
type(f)

complex

## List basics

In [10]:
my_list=[1,100,2,15]
my_list.sort()
my_list

[1, 2, 15, 100]

In [11]:
my_list.append(101)
my_list
my_list.sort()

In [12]:
#Adding one list to another list 
my_list.extend([200,201,202])
my_list

[1, 2, 15, 100, 101, 200, 201, 202]

In [13]:
#Removing from a specific index
my_list.pop(3)

100

In [14]:
#Inserting at a specific index 
my_list.insert(0,300)
my_list

[300, 1, 2, 15, 101, 200, 201, 202]

In [15]:
my_list.clear()
my_list

[]

In [16]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

### Slicing

In [17]:
my_sliced_list=[1,2,3,4,5,6]
my_sliced_list[:0:-2]

[6, 4, 2]

### Tuples

In [18]:
tuple_sample=(1,2,3,4)
type(tuple_sample)

tuple

In [19]:
tuple_sample[0]

1

In [20]:
tuple_sample[:2]

(1, 2)

In [21]:
tuple_sample[::2]

(1, 3)

In [22]:
len(tuple_sample)

4

In [23]:
tuple_sample[::-1]

(4, 3, 2, 1)

In [24]:
tuple_sample[:2:-1]

(4,)

## Sets

In [25]:
set_data={1,2,3,4}
set_data

{1, 2, 3, 4}

In [26]:
set_data.add(5)

In [27]:
set_data

{1, 2, 3, 4, 5}

In [28]:
set_data[2]

TypeError: 'set' object is not subscriptable

In [29]:
str_1="manikuttan1"
list_1=list(str_1)

In [30]:
list_1

['m', 'a', 'n', 'i', 'k', 'u', 't', 't', 'a', 'n', '1']

In [2]:
list_1=[1,2,3,4,5]
list_2=list_1

In [32]:
list_1

[1, 2, 3, 4, 5]

In [3]:
list_2

[1, 2, 3, 4, 5]

In [4]:
list_1[1]=10
list_1

[1, 10, 3, 4, 5]

In [5]:
list_2

[1, 10, 3, 4, 5]

In [ ]:
list_3=list_1[::]
list_3[1]=11
list_1

In [ ]:
mark=input()
%debug
if(mark>=90):
    print('A grade')
elif(mark>=70 and mark<90):
    print('B grade')
else:
    print('C grade')

20
> <ipython-input-1-f87917964e1d>(1)<module>()
----> 1 list_2

ipdb> type(mark)
<class 'str'>